@page "/medicinerecord/{Page:int}"
@page "/medicinerecord"

<div class="card">
    <div class="card-header">
        <h3 class="card-title">DataTable with default features</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">
        <table id="myTable" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>pk_MedicineId</th>
                    <th>Name</th>
                    <th>UnitPrice</th>
                    <th>Location</th>
                    <th>Manufacturer</th>
                    <th>MFg Date</th>
                    <th>Expire Date</th>
                    <th>Entry Date</th>
                </tr>
            </thead>
            <tbody>

                @foreach (DataRow row in pagedData)
                {
                    <tr>
                        <td>@row["pk_MedicineId"]</td>
                        <td>@row["Name"]</td>
                        <td>@row["UnitPrice"]</td>
                        <td>@row["Location"]</td>
                        <td>@row["Manufacturer"]</td>
                        <td>@row["MFgDate"]</td>
                        <td>@row["ExpDate"]</td>
                        <td>@row["EntryDate"]</td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <th>pk_MedicineId</th>
                    <th>Name</th>
                    <th>UnitPrice</th>
                    <th>Location</th>
                    <th>Manufacturer</th>
                    <th>MFg Date</th>

                    <th>Expire Date</th>
                    <th>Entry Date</th>

                </tr>
                 <tr>
            <td colspan="10">
                        <Pagination PI="pagingInfo"  PageClassesEnabled="true" PageClass="Paging" PageClassSelected="active"></Pagination>
            </td>
            </tr>
            </tfoot>
        </table>
    </div>
    <!-- /.card-body -->
</div>

@code {
    DataTable dt = new DataTable();
    List<DataRow> allDataRows = new List<DataRow>();
    IEnumerable<DataRow> pagedData = Enumerable.Empty<DataRow>();
    [Parameter]
    public int page{ get; set; } = 1;
    int pageSize = 1; // Change this to your desired page size

    PagingInfo pagingInfo = new PagingInfo();

    protected override async Task OnInitializedAsync()
    {
        dt = await DALCRUD.ReadTable("SP_GetMedicineRecord");
        allDataRows = dt.Rows.Cast<DataRow>().ToList();
        CreatePagingInfo();
    }
    protected override void OnParametersSet()
    {
        CreatePagingInfo();
    }
    public void CreatePagingInfo()
    {
        pagingInfo.CurrentPage = page;
        pagingInfo.TotalItems = allDataRows.Count;
        pagingInfo.ItemsPerPage = pageSize;

        var skip = pageSize * (page - 1);
        pagedData = allDataRows.Skip(skip).Take(pageSize);
        Console.WriteLine($"Current Page: {page}, Total Items: {pagingInfo.TotalItems}, Page Size: {pageSize}, Skip: {skip}");
    }

    public void PageChanged(int newPage)
    {
        page = newPage;
        CreatePagingInfo();
    }
}
