@page "/medicineshortage"

@using Pharmacy.Pages

@using System.Data.SqlClient;
@using System.Data;


@attribute [Authorize(Roles = "Admin,User")]
@* <div class="content-header">
    <h5 class="text-seconadry " style=" font-size: 40px; font-weight: bold;">Medicines Shortage</h5>
</div> *@
<div class="card">
   
        <div class="d-flex gap-2 mt-2 mb-3">
        </div>
        <div class="table-responsive">
            <table id="myTable" class="table table-bordered">
                <thead class="table-primary">
                    <tr>
                        <th>pk_MedicineId</th>
                        <th>Name</th>
                        <th>UnitPrice</th>
                        <th>Location</th>
                        <th>Stock</th>


                    </tr>
                </thead>
                <tbody>

                    @foreach (DataRow row in dt.Rows)
                    {
                        @if ((int)@row["Stock"] < 10)
                        {
                            <tr>
                                <td>@row["pk_MedId"]  </td>
                                <td><i class="fas fa-pills ml-2" /> @row["Name"] </td>
                                <td><i class="fa-solid fa-money-bill"></i> @row["UnitPrice"]</td>
                                <td><i class="fa-solid fa-location-dot"></i> @row["Location"]</td>
                                <td><i class="fas fa-cubes ml-2"></i> @row["Stock"]  </td>


                            </tr>
                        }

                    }
                </tbody>
                <tfoot>
                </tfoot>
            </table>
        </div>
    </div>




@code {



    public string? value1 { get; set; }
    [CascadingParameter]
    private Task<AuthenticationState> authenticatestate { get; set; }
    protected EntMedicineRecord? model { get; set; } = new EntMedicineRecord();
    public string[] v { get; set; } = { "Guest", "Guest" };
    public string? ID { get; set; }
    DataTable dt = new DataTable();


    protected override async Task OnInitializedAsync()
    {
        DisplayGreeting();

        SqlParameter[] sp =
           {

                new SqlParameter("@pharmacyId",v[0]),
       };
        dt = await DALCRUD.ReadDataSpecific("SP_GetMedicineRecord", sp);


    }

    private async Task DisplayGreeting()
    {
        var authState = await authenticatestate;
        value1 = $"{authState.User.Identity.Name}";
        v = value1.Split(',');
        StateHasChanged();
    }




}