@page "/medicinerecord"

<div class="card">
    <div class="card-header">
        <h3 class="card-title">DataTable with default features</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">
        <table id="myTable" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>pk_MedicineId</th>
                    <th>Name</th>
                    <th>UnitPrice</th>
                    <th>Location</th>
                    <th>Manufacturer</th>
                    <th>MFg Date</th>
                    <th>Expire Date</th>
                    <th>Entry Date</th>
                </tr>
            </thead>
            <tbody>

                @foreach (DataRow row in dt.Rows)
                {
                    <tr>
                        <td>@row["pk_MedicineId"]</td>
                        <td>@row["Name"]</td>
                        <td>@row["UnitPrice"]</td>
                        <td>@row["Location"]</td>
                        <td>@row["Manufacturer"]</td>
                        <td>@row["MFgDate"]</td>
                        <td>@row["ExpDate"]</td>
                        <td>@row["EntryDate"]</td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <th>pk_MedicineId</th>
                    <th>Name</th>
                    <th>UnitPrice</th>
                    <th>Location</th>
                    <th>Manufacturer</th>
                    <th>MFg Date</th>

                    <th>Expire Date</th>
                    <th>Entry Date</th>

                </tr>
            </tfoot>
        </table>
    </div>
    <!-- /.card-body -->
</div>


@code {
    DataTable dt = new DataTable();

    protected override async Task OnInitializedAsync()
    {
        dt = await DALCRUD.ReadTable("SP_GetMedicineRecord");

    }
}